absl-py==0.1.10
appnope==0.1.0
awsebcli==3.12.3
backcall==0.1.0
backports-abc==0.5
bleach==1.5.0
blessed==1.14.2
boto3==1.5.32
botocore==1.9.0
cement==2.8.2
certifi==2018.1.18
click==6.7
colorama==0.3.7
cycler==0.10.0
dask==0.18.2
decorator==4.4.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
Flask==0.12.2
gunicorn==19.7.1
html5lib==0.9999999
imageio==2.5.0
ipykernel==4.5.2
ipython==6.5.0
ipython-genutils==0.2.0
ipywidgets==5.2.2
itsdangerous==0.24
jedi==0.13.3
Jinja2==2.10
jmespath==0.9.3
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.4.0
jupyter-console==5.0.0
jupyter-core==4.2.1
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.0.2
mistune==0.7.3
mock==2.0.0
nbconvert==4.2.0
nbformat==4.2.0
networkx==2.1
notebook==4.3.1
numpy==1.12.1
olefile==0.45.1
parso==0.4.0
pathspec==0.5.5
pbr==3.1.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==4.2.1
prompt-toolkit==1.0.16
protobuf==3.4.0
ptyprocess==0.6.0
Pygments==2.4.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2018.3
PyYAML==3.12
pyzmq==16.0.2
qtconsole==4.4.4
requests==2.9.1
s3transfer==0.1.11
scikit-image==0.12.3
scikit-learn==0.19.0
scipy==1.0.0
semantic-version==2.5.0
simplegeneric==0.8.1
six==1.11.0
tabulate==0.7.5
tensorflow==1.5.0
tensorflow-tensorboard==1.5.1
termcolor==1.1.0
terminado==0.6
toolz==0.9.0
tornado==4.4.2
traitlets==4.3.2
transforms3d==0.3.1
typing==3.6.6
wcwidth==0.1.7
websocket-client==0.47.0
Werkzeug==0.14.1
widgetsnbextension==1.2.6
